body{
	font-weight: 700;
	font-size: 50px;
}


header{
	height:200px;
	width:100%;
	border-width:2px;
	border-style: solid;
	border-color: #b85450; /*OR border-color: rgb(184, 84, 80);*/ 
	background-color: #f8cecc; /* OR background-color: rgb(248, 206, 204);*/
	text-align: center;
	position: relative;
}

nav{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height:75px;
	width:98%;
	border-width:2px;
	border-style: solid;
	border-color: #d6b656; /*OR border-color: rgb(214, 182, 86);*/ 
	background-color: #fff2cc; /* OR background-color:rgb(255, 242, 204);*/
}

main{
	height:400px;
	width:100%;
	border-width:2px;
	border-style: solid;
	border-color: #82b366; /*OR border-color: rgb(130, 179, 102);*/ 
	background-color: #d5e8d4; /* OR background-color: rgb(213, 232, 212);*/
	text-align: center;
	/*display: flex;*/
	position: relative;
}

aside{
	
	height:320px;
	width:22%;
	position: absolute;
	bottom: 10px;
	left: 5px;
	border-width:2px;
	border-style: solid;
	border-color: #666666; /*OR border-color: rgb(102, 102, 102);*/ 
	background-color: #f5f5f5; /* OR background-color: rgb(245, 245, 245);*/
	text-align: center;
	/*display: inline-block;*/
}

section{
	height:320px;
	width:75%;
	position: absolute;
	bottom: 10px;
	right: 5px;
	border-width:2px;
	border-style: solid;
	border-color: #6c8ebf; /*OR border-color: rgb(108, 142, 191);*/ 
	background-color: #dae8fc; /* OR background-color: rgb(218, 232, 252);*/
	text-align: center;
}

article{
	height:110px;
	width:98%;
	border-width:2px;
	margin: 0 auto;
	margin-top: 15px;
	border-style: solid;
	border-color: #fa6800; /*OR border-color: rgb(250, 104, 0);*/ 
	background-color: #f0a30a; /* OR background-color: rgb(240, 163, 10);*/
	text-align: left;
}

footer{
	height:100px;
	width:100%;
	border-width:2px;
	border-style: solid;
	border-color: #9673a6; /*OR border-color: rgb(150, 115, 166);*/ 
	background-color: #e1d5e7; /* OR background-color: rgb(225, 213, 231);*/
	text-align: center;
	position: relative;

}
